aodh_database_password: C1sqWT2vel8fzFnlAhhlyr8Pf3lksj3vODGuDVRU
aodh_keystone_password: 9luAWB3HST2dCgjkX4zIN6dIYJvtkgoCFaeCEUZc
barbican_crypto_key: 33tgHxkT4w3jIam4v7WZYcHT11DBjTjM355FL56o4Kc=
barbican_database_password: owEMFhdyRPl7pshTIIn50rqi0uqUl1ywD6AphHfl
barbican_keystone_password: mB6xiIu4KxVPtkb8LZEsTAomtZ7YXD1l9hpvm5K1
barbican_p11_password: MAclrmSX8a9wbR2KVGS9L6LyEhJEAKhcdVCeCTGx
bifrost_ssh_key:
  private_key: '-----BEGIN PRIVATE KEY-----

    MIIJQwIBADANBgkqhkiG9w0BAQEFAASCCS0wggkpAgEAAoICAQDplCUOhxRgYyRM

    k4GB4BThoy28V1K2a9/j1MZDiSFG5polHwoWwf3haSo0u4UUXe9ImqMlOgKy2L2Z

    Kliz1ioQVBdT52k40zksxVctXKkn2yf+VdX5F4AWyIWJTf9D5JG1LnpDhka6arfz

    6bqXQOi2EoqQUhikZ+QopRVQEHmQR+bpddDz7AEUaMpO7fgY0XUq0eWKoK6anNbP

    2BBOEyD25nKxieqGdG8yQ9yUigxqCfxWm6cXDS+DujBCsn6CUhx1iDg+cnxspJtO

    YNMqzBgksj6g2tDLV9kZe2fmW9gBzh6Hyeop4bGoc1OYE4W0/KTtD6XVgLvtKIth

    K/spqzU9i5GEIGPRi5muCsdG/i5luUsNeS9R2yiXjcdbWCKq8PvrW1NrMJTuG5q2

    Si5/r2PpXuYlF4K2YZInrd46aqJUiCGhSJJlrhKeZlOjpmrOZdceMqanIi8Gv8TW

    wuPkhdPAihXspsuGW5+/ss5NQ9L7D7zPXOAqYevqKBwqvsIXvXD/GFGajiowwbR+

    6KB2o7Wy5r4A3XHlRTxeVpLYHvczb2Xrgy7ZmXZPhmzJvIe5ziSclzV1OBg7+9QP

    qihqX9I07cuO7icqOJsznHQc0/UGKkooLWBZli4E4sd/3BMX3bKAI/7P6egIiBUo

    M0iPgSpM92idC3va3hK9j4Iz3ryFaQIDAQABAoICAQCCXPVlq0xbE1oyBu1z7/2X

    hTxEbrQyLfjSLnHNRZ619IQ5jZ5S30hz4v70WWhH2rlu2yeM4liZOtBuyKyjCjeF

    z3kJkhEu7uxtKWKjZaDfJrimgX+fu1b44EdvP4HlgY81ANCqGSomZuNuFZfXTRnU

    bHq7W6Z3M6iqaqB/hAJk3UxqJiBN0v0zR90JulUKfPSYxncHLPDmR/y4Gc3X1WND

    iZCft+qVyiw5cJiOqpGNKS+Vot/ZxLktGuBOiVKEJ5HMow9JAxqghCpNz0psC2a6

    LGU534ZCxy/awf5WGhJvx3tQrAeuAlHmQx93tAWe4pal3GLgyy2XilZoEGTod66J

    LryyV/mLCaS3LixCucp/L1vi/vKYmCC+pOzDIZnNZ4RWfC5DbJmmtW05BLtogxYW

    QPLfRbgxt/ej2WUL+SEQne2RiWEU0ehZDgREl+t1Jh5McNpy8XqbYHU7W9k8YahY

    wIemXlvd4L5nwLiEKcHd1AZtKLvxpU1QyKM0eun63beToIHFc9wMMxjPdd9HdxUV

    5cOInpFVygOXVmEASLsKKPqpdvy5DQ73G45zzmJAJO5jJR94ICgWO99XTG1tOd/p

    UM+rLC6XN2M7V7Bmk/KeamW7Pi8GbGkrgYAAz+T6pDJtp6bAywexuZuKuX6oSyX9

    CTIwa5f1tqDighQ0MbPbkQKCAQEA/9eSYX3/FPhmrUKWiixYNX1oi+PrVqEjVrX3

    bh1ZodALicYRoqVYIKuspEO/qHuSSm8A4ZT7Pvf814bmynO5OaaIoMAqvAwflJmd

    LiPv+JkfvQW/8AiEoy6SV/aXFKUkP2PnCLaqF99A6WsnX7H3HSVfuC1YEla5FlVU

    xTZ7YdtFKFucu4oLBYxWs0PhWFmcD4/fj0sKZwJ2N1UYOQRLBqe1cL/LgSn/VLoO

    +MbqjdFEkW+d29kG6qrtigptPqyfoLr8/HYLD9C3NlcKfbQVtpqDP4uJfBV9PR5I

    CtZmQZwTKwSqwiIfJ5FN7RhjvSHsnohjp4wuugHRDZM8h9DLDQKCAQEA6bkODTsI

    t8OIZKd170kiVnMf4qbqK2jJRoTLmc5z86Xr83pNLmgrF4ny79f/jYci9zO0hke2

    lbCvJuDqh0soN1WF1RCjayedVsuNpyX5L8Y+zLP6BDvLAxl/oMso/ERMHq7sEHhs

    8wf/+NvzTtPXUPFAi+EsPQr54+KAdgLcMnhUETlbRKJ8ENnT/hQyphxtU9I5c22s

    tvPYTf3hM3d/FQJOx9veAbvBkPMhlk8GMtlRIAHs5EUKqvODZfRVZBOfY3C/4tsV

    pBS/GzStWpd1IW02gB04ONaGBMerD/97/ySdEZUgXNQfBY/hqGUAGcuxvlSyNR4h

    Ey//h+md+IaczQKCAQBwBtwRFpPQgeir62FxxXMmkPBrePS+7TZFLM7Yh7+MzEWR

    IYrtVktdmu6wyv2sb9eiAjM3k/3kF8C+O1LpyXyM0vA2u4664vAdKJqb7p6Qk7RD

    F7ZxC7nQnn70R4TmRF236C3tMdcPNvH8g7AtBgd32rqsMibDePf44IqLBI1ITzRc

    NKlPsWWcG1SHkKym/C4K3mv9GdXHP1u2ZOuDY+7aTitz4Hfi6hnk5sfRhYCFcuH8

    cQyFjOWrcgcrj99AN2R6hAZtId88IJ9pCvoMCwQK/mOEOryL+fjp/016eWEzT31R

    M+z1ru1HbSfbLvfVhHpQ/NXuMsLvLgZ1VEiIDBQtAoIBAH4fCzMeiRzI2gAe0ag3

    Wd02sJ0ZH0IfgIWaQVgVLULsZT/03lNNiPthyIOelluj8b1d3GudpSxvtISRWF17

    tA7wCpEoMlcvgFsG6sCo4CfknZzO/fps3aclilaVat9+Z2kjUWWt5nTa+0kqP8ho

    zkbyeLdC4iFqm+BaKKIF9xcREaRdxB9sYvCg6yGveoliy6gwyCm+pDXxreagOncQ

    Y7ZNkX+N6OYckF6MpLI8oIat+HYCM/gWPaR0VZKd37pqUFdTz2g2ex4Yx+uBaI57

    LozEJ2XI3r7lHFrV+DxgzGOpOUz0oQsWuErDEq1RG1XQMnEXuTaqtIRrIUQRT9p9

    oX0CggEBAJ9tWm92iNcQq/2Qpn1/Zgf/6AtKT6tIHExFCZQ39zVSrgLxDDwjuJhe

    wzJXFP/S5iEWsBGJMxq6rKPG0rlG+6Av8Ovsugovj7X6s1xY6Ja8fOn+8UtZEWDt

    1CRXplCfbPOGRNI01U6QdFQgi9CUfD4IqYGYUDT7t/t5F8ZMDA7GTR6LgqsZ0ZxH

    Z98z752DmMk1q375CRrDDg1t8aJahrZ6fonoEqkgblCsl/bXrJnFK2D3F0582PRZ

    80AvGeaq2a49loxz8NNISWYNVBORPsA02W9dFsUaqx7imcBO4p4NS7WOjSY8FsvD

    APW1N49P01//4jhWLZprKTWoJKQnh08=

    -----END PRIVATE KEY-----

    '
  public_key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDplCUOhxRgYyRMk4GB4BThoy28V1K2a9/j1MZDiSFG5polHwoWwf3haSo0u4UUXe9ImqMlOgKy2L2ZKliz1ioQVBdT52k40zksxVctXKkn2yf+VdX5F4AWyIWJTf9D5JG1LnpDhka6arfz6bqXQOi2EoqQUhikZ+QopRVQEHmQR+bpddDz7AEUaMpO7fgY0XUq0eWKoK6anNbP2BBOEyD25nKxieqGdG8yQ9yUigxqCfxWm6cXDS+DujBCsn6CUhx1iDg+cnxspJtOYNMqzBgksj6g2tDLV9kZe2fmW9gBzh6Hyeop4bGoc1OYE4W0/KTtD6XVgLvtKIthK/spqzU9i5GEIGPRi5muCsdG/i5luUsNeS9R2yiXjcdbWCKq8PvrW1NrMJTuG5q2Si5/r2PpXuYlF4K2YZInrd46aqJUiCGhSJJlrhKeZlOjpmrOZdceMqanIi8Gv8TWwuPkhdPAihXspsuGW5+/ss5NQ9L7D7zPXOAqYevqKBwqvsIXvXD/GFGajiowwbR+6KB2o7Wy5r4A3XHlRTxeVpLYHvczb2Xrgy7ZmXZPhmzJvIe5ziSclzV1OBg7+9QPqihqX9I07cuO7icqOJsznHQc0/UGKkooLWBZli4E4sd/3BMX3bKAI/7P6egIiBUoM0iPgSpM92idC3va3hK9j4Iz3ryFaQ==
blazar_database_password: FXkhDdpUP3l77uuk3O6XJfmDpnCwkEIEvYEW7oPc
blazar_keystone_password: iJSnxfaFWe1a9KwgZty980oWLzEYpV9tQqGkQIzd
ceilometer_database_password: jEHJNHwJGXCHJzbhm4qf34LkNrFpXDeVhrqQQ4AZ
ceilometer_keystone_password: T9x3HV6BgZSpIXzSkNAOvHTwNNnMi3HidRAWXrlk
ceph_cluster_fsid: aaeed036-d66a-4117-9fad-71fb76abf05c
ceph_rgw_keystone_password: kjYSvNX5RCdwQDQvYQLoAf1VNLPyHTCE4GYCyyZT
cinder_database_password: LJCghZhtWAy3DnqECR9iiNEJGME7bYL0Kyo72Mg4
cinder_keystone_password: 2sfT91TE7TpqoUeOOmZmPtCUR3l03dPMDxEHo89z
cinder_rbd_secret_uuid: de344101-bb6d-4256-8242-a04a8912e70b
cloudkitty_database_password: rpwY6bDhBn2KkRcyzEGgrEgjZTytGoNRXPAz7Xi1
cloudkitty_keystone_password: imIPmLZmRFRMqpxnJoxLDGFeoFkWhyL5GLdxI3Vb
congress_database_password: knEf6GNK6DQsNS8GkTbHVdsMuA3fzutwoYwJMerF
congress_keystone_password: tvi1YFAxo6SgzAMx2sWR1Df8k55JcW1kqONXNrI8
database_password: Sb6WV8lzYsxkXLPJNUeIKtZtMdC59OqNimBIalph
designate_database_password: qiTeKOXHAL9gWarhl4JrnAA0N3ClJNghWRwNA8fZ
designate_keystone_password: quLEQgaMRAHzp4LgIflVkWl8yyuDFy4CRAkK5NZG
designate_pool_id: 9a709f30-6d0c-4e5f-8b85-56d09f4b055d
designate_pool_manager_database_password: zsZYLAuRdlix6yJM6ME2bXWMo3hyEgyfPRGEVWjx
designate_rndc_key: c25ddd6dddf79ee6879a6746ec47d1a8
docker_registry_password: null
etcd_cluster_token: zTwl8JzYi5glkix2y2coLbyhkBaKKABGjBoXz3rR
freezer_database_password: WqQAbl8UToLlarw5s4ArXHckzmITfSGdO4Jjtjnh
freezer_keystone_password: cqYxq7shZmhVfxR2ZwEHb3RD7MulVhspvj6jABl3
glance_database_password: JvjmUjpAs4FALsuAdvvrpenfsRHRbU64949q0LVz
glance_keystone_password: pN9Uv8VWoMwV9lQqPf1CHBsbV1v7hi9zAU9Tvgnt
gnocchi_database_password: 1l13aTpWdTMrBaL7CbROmBieKFJqm2oIq6gBeIyW
gnocchi_keystone_password: Yf5FYb1w4F6NFocxxdENwRYppAuUSXK77PL2JKYG
gnocchi_project_id: 00b1f698-04fa-4fb8-8894-57194e407155
gnocchi_resource_id: deacbe72-02fa-4bf2-b5db-1ba0b4c89008
gnocchi_user_id: 29af56cc-49be-4aee-b0ab-f752aa0acb08
grafana_admin_password: 2khuOcRF3xPg4SO6ChfUvEvogzMGetl87qFB6gjQ
grafana_database_password: ufZjda0PFlUoTcqnEqByz09qy1noiJDXDUgFSkZm
haproxy_password: p2DVGP2gAL45M2Qu1XyUBsly8qcn5WSYqZpycjTm
heat_database_password: SQpPhUaWTM42l0tYfhAymPW505ToRIRdCwEc4Tzy
heat_domain_admin_password: IRatQ3RmwkvK0qq9DO3A0WpmrhMKAem19NVnRzOA
heat_keystone_password: fbOnilkUQZRjb9qMty2vJLsWLGC561kfOmOS8OX7
hnas_iscsi_password: FLX5KDJbniyiQ9cSu23SuM0ewOjMTP3i0HFAyjTi
hnas_nfs_password: P5prsBqp74x0iNf8ejb5UyIsyr4UsmGtdwLvHKat
horizon_database_password: jtkZd2hxeDk7RAqmUFhZSR7l6WID3p5asZG8aBr6
horizon_secret_key: XZKQXVrfOuNgXRjCcHPBLyjXECQ82AmYOeopQSxF
infoblox_admin_password: mGdtKpVHeDbcIKhi22ogMU7vgrTidqRaeuuMbd0h
ironic_database_password: hf0gtEhThoVGhKioMEIOE7riG1e60XCb6UzxUFUq
ironic_inspector_database_password: fF1rrSdW5XlPnW5GAxbNTKcVzumBBUZfeUh3JBEV
ironic_inspector_keystone_password: pPaEEUD8G70XuA8YgBg1kBd6moJ7wnjLbnYPupsS
ironic_keystone_password: K5Y08YD8dJkjU00iskNORWqNmHmx07Ly1AAlWOtS
karbor_database_password: RYoRsDl0illU7M0PuCcOEz904eX5mhvrPZJPa3b9
karbor_keystone_password: zPUfDwEWbPgOM7a4pc4F1WeOIXkkI103kJ25dc2r
karbor_openstack_infra_id: 56ae831f-5ecf-4273-932f-e3f878583639
keepalived_password: C723aIvDnlbk4ryx0KRB2fhHYmuOUM1sN7kmq7Et
keystone_admin_password: {{ dev_keystone_admin_password }}
keystone_database_password: DmvcNbqzAB46TGhdIPmMPAOdSuA4qeppKtWsrwME
keystone_ssh_key:
  private_key: '-----BEGIN PRIVATE KEY-----

    MIIJQwIBADANBgkqhkiG9w0BAQEFAASCCS0wggkpAgEAAoICAQCpMsh50SDAdz5l

    WVwm79oNcXbzNv2F/Fe/N8Gp7O0hZGa3yfCcha8e/xdeY4fdsUajaYCp/mTm6zPE

    3v7xSD+mhp20hw77mHVBrYHS2u0qw2gdAG3sjS7wmQEIGOIlsoyLdW3v2UBxSF66

    Xyhwjjlf69Dlp8fMNCc1kvjjgRyE4sIvFRihBb1KtWujVJ9FDuZGTioFrt/aUxM9

    Rpc+g2W+1IMZH/ZadIIAoN5MafoOINICwObXKLU94xMWMsZ9x8RQ3/Xr70kD9EAs

    XJti6YUJHi1Nqvscqqx94RBOjubTjJ1uCeuPw6P9E6VZ2tJUBYHGlS2IOKj1FwvD

    +oueyvoyIGC8rtCupYGfsoCmshtKTKHy0Vrw4MRlOMLhZ/08I8ZP+IfTPoPNBfKL

    JbooJTkXst+vY48WuRTbNWS0NuLuIrPvQZ6wwprIFVRLnT5FQaMsFc3CweqbiYsE

    pLMKQDQoLojQs3DvdYRJ7eOXxqCm8wyujqlRuiODy6WPM/GMrDCM5OL+8DZO/Ek0

    d1wI62duK6EplmRrHCTdpB3QYl4FVwvB4+n3zBbLmIatvwU5RNTTPgU46l3fg5cw

    s3FgZP7NJQ7E7DlvOJDByEe0DRMyLmsys7BbfMOrHq2M7tb/y9vSS7HDPhJ8tC/y

    KSGX7iOqmOpP4kHkyAOID+eXWsK42wIDAQABAoICAQCkQR6J09FdxuUV8ogZbKNc

    hZgaSHoaBn0Qrwoc8lrKHfPx2+LvsH/vMWj4Qtt1BlIy9YrofIRsAE1Dg9AvYBoa

    iXiz9qE+8iRy3AO6NLok14pNDUupZu34uDBeMfno6sqx4BAX1epPjxgXCaXyjr94

    NS+Yoya9QKwHwGRKR97tyk0E9A/y0eWPj0utRctQeURnYB4/YiMCib+Vrt/I2jp9

    5URXscWwzoYeIg1sVT1hVc9KyQXQPj6kk7rFxAkZtkMI2EKfBq71Xbqm1kgq39Q8

    o8ULLz+T9sR5d3IjMWs4V7vFRXAfIqgiWV4eOuYQl0ADDnMjWQ380KClYqcEQrxb

    NJ91Xufycdi7UUkA2WE2MgoyAeIffW9AO7S3DuNg+h0P4Vjnzdzpny0s8jEz3c5C

    rL8FLIQME1PEThh+z4Bn7sOLOcHkIqD9XAqAO+m0LNCXtVFS5kkxQLr2uOd+CQ8W

    z0Iq/WfomVLzJ0PWzjVFbilbqbA5UDl4nr4RJczsI3w7NXrm3wvgVc6tXvaTBvLU

    00dTwVlU1HzV3izZD0vPCuRX+0c5DSAFYE8PPRNS9n/UEWcBO9VT+QanGZxAdjlt

    gABciz8ouJC814+0q3e/halNrqVKLv/aAFU5MGjS6YdDC8dbroAYr/mHr2FX0Jnw

    PIMR+BAc+S5bHy+p251j0QKCAQEA2yL0sle6ukM6wX/8v7g4Tx+BQTUPaO3/JCi3

    rdFH8SuHIxpIObhAqZA5Y5Q/c4pC3YKodzyB24S7JunjwwCE5bccEc0cLqOaiqSA

    lM9WzAwuW/YWFFt1s22V/fVPZe3QPtjzIn0feK83FocoGWbFE1UXzPYsa0HoJMwF

    QX3gtN6FyqC0I8HxA+03W9iExz+PO5adYNyT8jiiT2WEb+HxuzTCTcv8Aw0qaNM0

    aQzEjupWv2BFi6cUthIQAJZTm9tLvADm4SeFnQgElTktGk0qo6hN739bHJQE0vol

    XootgTd142JdLx4B25XwQDdOPrvY8IzpRGa0fXd6ke8KCpAFRQKCAQEAxalBiN9Y

    Gnxtk4uam0/9xRQk2ov/lXD+P1Stc2hynk34ia5vBr1e4Dk6akCaNeMjbfxswBrC

    7pu5IyJw0NpG/cSvd3QLW4HxBzkI2jdzkkrRssGp5SSh7fuqwDXwrBwP8yCcQyEQ

    TnwAaVr6trKe8eKixoM+KDfA4PddCtoHTc5FUbbLfKb48VZ6vSoqG303QDXIbRH/

    8PrUG/dBbbJpg2j2Augm+6kKiQTUCfvFddJ+jMePfyre3Sdju8hxmm5nrTmxJ9tw

    XVQy+U4ywiYQkNFZgQn1pa85Gyc13yRFze3Cm16/WrkwXay4Jon+i6zthDO4gwRx

    tFGHo6uhJ0FXnwKCAQBVjwxjJYWue9lQ+5u/bzntCqv4vbLKkUHw6ETvBKtGKmyU

    9AoHHz1/9uOxUYyEnBMHUaBdDa7V+rjntKJM3MMGvbuj56V9QDtyrk/Vyi5ldMwU

    87wjLqKB7+OESGc7sOKB50rmyFulTyP/E75ATLPdnHeyettU9WKiG1Zh/7fgZpFu

    T9iFrY9grRnULnGJKfPOnDvOOdE53Yrh3Q0ccedj5HGI1oAK4PUSAISSD34fHrfH

    +NqucAnSHLNKx2bVj4W+XcvHVRsB+MNxT+WgQ0jGpUvomp0ER3aquSgmBWVG8lSA

    90LSxrCK/7vSFsXiEI3fPeVF46PM6P1eRSpyfVDRAoIBAHCyXhEh9mOzie5T7GSd

    KP1SzOhmZeTYtb16FCL27FLh9dDaSac4FX4WYv3ts38B8FNnVsH5ACd3Vgl4O4Z4

    zX0mxTyAR3F3FuudUzTH5PcF/aXD0ZA6YLEFiodoub4Hifh/IVkM4vU8sidfng7I

    rOMQ6unwLmJT137synnDceKkttUuObrqoIlJW1W7UqK1s+jCQXIejyTgfksroHxg

    +tPX5lwl7QQTj1QsEpFWoXDaARlXNrO0x7ikGrMYR91bEXWsrRsifGBZ/24xbbNQ

    bKWFF1kBSrOawh5/LrH5RmtxIkHftY6Og8sFDUG78AvHHuz/aDYbNJEw4vsogguV

    r9UCggEBAIvnoCcIvBqIHFc14waEr5Hm3X741ZM4rVwSR0wBLSlSVVagRAjfUSEv

    G6qDe4CX8kQSZrQzq0H7Mhzd2N+UfXysJwBYH8VtjX2auyuE6nGXlYbMEDrzTfoG

    QU4qex+y1d0o5Drm2bHjfaNkK5sog71Lh7PTFuzjgqjOo3QuBg7rEBFd23RTFlTn

    mo7nYSEyzNMZZo3vKi17tur/j7DFi//PC/9qRQ6rIHKstzyz0IQ6Ocn1zfGd8zkj

    pKlZeyvH/GmBITRbqF3m/hUj87mjps+Yv2Fae8FzyVqvXMrHZX6MQxHOlk0Ko30/

    8zlARKls/ZGngEnpdSTWTHTl8sw+vuo=

    -----END PRIVATE KEY-----

    '
  public_key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCpMsh50SDAdz5lWVwm79oNcXbzNv2F/Fe/N8Gp7O0hZGa3yfCcha8e/xdeY4fdsUajaYCp/mTm6zPE3v7xSD+mhp20hw77mHVBrYHS2u0qw2gdAG3sjS7wmQEIGOIlsoyLdW3v2UBxSF66Xyhwjjlf69Dlp8fMNCc1kvjjgRyE4sIvFRihBb1KtWujVJ9FDuZGTioFrt/aUxM9Rpc+g2W+1IMZH/ZadIIAoN5MafoOINICwObXKLU94xMWMsZ9x8RQ3/Xr70kD9EAsXJti6YUJHi1Nqvscqqx94RBOjubTjJ1uCeuPw6P9E6VZ2tJUBYHGlS2IOKj1FwvD+oueyvoyIGC8rtCupYGfsoCmshtKTKHy0Vrw4MRlOMLhZ/08I8ZP+IfTPoPNBfKLJbooJTkXst+vY48WuRTbNWS0NuLuIrPvQZ6wwprIFVRLnT5FQaMsFc3CweqbiYsEpLMKQDQoLojQs3DvdYRJ7eOXxqCm8wyujqlRuiODy6WPM/GMrDCM5OL+8DZO/Ek0d1wI62duK6EplmRrHCTdpB3QYl4FVwvB4+n3zBbLmIatvwU5RNTTPgU46l3fg5cws3FgZP7NJQ7E7DlvOJDByEe0DRMyLmsys7BbfMOrHq2M7tb/y9vSS7HDPhJ8tC/yKSGX7iOqmOpP4kHkyAOID+eXWsK42w==
kibana_password: RjdwtKH31PySkjtS2Q90mwyUIvv1ZKj3W780xdYU
kolla_ssh_key:
  private_key: '-----BEGIN PRIVATE KEY-----

    MIIJQgIBADANBgkqhkiG9w0BAQEFAASCCSwwggkoAgEAAoICAQCpUcpEQboymWn6

    k8aW3tk0V5ky7QGQE2U5ayK1y1jdVLv9HhlHULX8lDq3yi7APy3ljV4U7FVA3o9Y

    uDy3FAI9ylMXu0kzNoQrA037rYJWm8KzQev60dOabPQMDhh2lgLTMMXsHfqekXL3

    /lmAdp+QF9ns178p4/e9qGgOeOUeuWoMwlOZGr7pJ323x7frgLUZ3ITJ7VoYxq4g

    tnd3oHAcGQFeB5+nNpcaj7s79EL1eON8OWqbwoHCwTGYCSnaT6R5BOXbJXnLMdZe

    1TJu1YlmyXNsSPsKFi7iDuKbos9ewCrEy+B8pqhqnXU6FBk/P8FMwsqK/QCIlJJL

    vQZ126s/oS1fkIbtFm1n9GmN69lRIRmU6qUEHtc14TnO/eR1NXb0Nu8KFXbNeYS5

    dT/gcj5FrtJoW3md5y6cHqWNeRwPmc8Qa5BXU/fjz7X8aMFqwc5vJM50TZWLeG+N

    PYMfA4waNL/StvSd06oE0FMhPmwoEYhrLCMDlqPPbrt1dTox0MHfSDEhJGp8LmPj

    zN0h26Ph02sncuF9xyESivddnKdCS6EHeg7U5/Q9L6qa1svGrAIJ28DCE6jJjR6q

    Vd+zJ84yesBsnbozkQaPt90nY+0VOQ/wfADzGCTHLMQ2Tb+M0B/kGWBRkHvcMcsW

    t3Z6z9dWNMM1v8GIwQZEK3nUnTP7awIDAQABAoICAQCUzlICTPWUVKoEU+17WJzx

    2G7Gh+8QrUsP/G1D8lPGKRsSKGq092UJd0hnkCQoRx5SGTzvDIkcerzmjvylNcuG

    fJMsTyfU/3uGxd+6adIbxcaGflAjXlcm58xP7+9mAQ64hqvbiLlitJejBgGo2hf/

    rkaTVUUnTrfDEgdpeKx8pR1j20FXVF8mT9O4OakVK0d+VATL5nKBRdNw4ov6MaF1

    wDAocHDKpzqDWICH/3L9g2ICIf/kpjweamXopV0IBWiaB0jvoW75unIZZCtvpvGb

    yT5Mk5M1WSuY9tYHTD4Nmru7uyYuxtVK5dlJ0rIhmSmMCcGyBwp5/oDYWWcdG5LS

    6aneGGl1ftZe/+kcz0LmpntBKmUobNs+ZzTW6zhotSPVV4UhXL2IGJSayaL/w4Ej

    mCd3/+9v70a2/lAOyPdqAGMqvt3ZRI0gCZs+4y1T1XfDy2jWEmKs2E04zFjdzJ/b

    FH41TlwZSjpEIdTsmMDqvbr+9LPmz18jy5WVKfRgp/VBCHTqo5zFEociXCzxzSSo

    a1A7Oim0vxTDF3PE2FjrTfHPkfAFXW8BBq9t0TJQTYdFO3WAkFk+Q/Lkm8ccGzen

    +8TQwOpzRHrWBF8DH+2GwKAUai+9uhtD0ZxFfhih5egZ66Zhql2zRyzX+oS/ASrU

    NG/DVM9b2DIPouSR8Dz3SQKCAQEA2xSd8yHp2l1SdalUqzWeHbQhzpkfKD0n7fFg

    F6VoBrDX73wWMoU98cTXlHGSNUM476vNK+Aonv6VTH/vyxDOe+GxXnAiARz/PsAj

    NNj8qHCdQQ/IqBx/NOtAz3CyyeV8PrS8L+JVHy+imaWVCAscDLD/gI6yLMvcW6O2

    B2MFz4MxnE1zkvErV197ai6BHD2lwqXB6U9DpbBah9CppIVkQ/36SQR2O/xubBqw

    rHHFDSGG1iL8MAAQqGDITTIaYmJRwQUE+qLQFpPJdwdHWxjiYa5VMxxMkgdJmJCh

    WNU00ncWtCyLauljZSgMm9dBlzKaWcO3HCEEQ3/xHdZFJFPMfQKCAQEAxdps3MzD

    3riFJywnqu5Dd82CjUp56cfFcl94KpGCauB3Gr8wM4oUmC/xvpwHtTWnBADEmqSg

    0H1WDTLcUrEQKgQYqSmTuzJO4A1WHA+wmerMpOYTKXH+QRSwFyT8zcseNxJ0JvZf

    fKjLGT66CLUv2VjYtDPiUUu7iiIB1+2Wj15CA4ebKjoIrMGePFz8+7GcAQQpdPq0

    OzQuea2P4eastlooFBpg0QasTkPgnZDeg0gqyriYtbceyW/4QRme5P0RFOpcSn/J

    7IioZb+UFGZiqlXRsf3EihojvBr66VdGG4cRaKrxeX6x1F2ZgT8K+GjnAfSsRSXe

    RTPCyKOLHOA0BwKCAQBUwTMh/nrEGdpu3qV83u9eunNhw+dD3/T0nq74Nut5uyyu

    36iOvvFp+ScVrKJNrMX4ItTrJntQl1kXEV+phcT8NCI0UNk26QruMdLs/Q0x9O9B

    XmPYdb3YsTKPjh/876UTdURgmgUoXXtgSajQRcwCNO+DwrC3l96WLU2cqfhzgWPN

    /kC6FkcYND5Ao+EbFdZs6UeNhTa8gO9lH5qhpWFW1IjherJrHotxkxnKfPEo1VGe

    wkYiI8RN/7M9+iYu7a6HJ/P3KsmqEl6ch9pZKdVayOD5NveAfwU/2qQxA7q9uYi1

    B46gO85SMh4+pBYh8le4ZnkOjs9hdbvIOT7igPDZAoIBAGNzTXEXBAV5noR4L2A9

    72/SvyKiIvGd1uOMlWxgQ7vRJE0veN0PNRbiUpNK/pzZYSAj+q74vVTPC2gK/rAa

    DFPyRysQmQ9pVDhOu8/TGyPi4AarF0qn3/N6oKChmOkghgmMnxHOmWShu6Tu4Lfr

    yydm/1ZlFgdjF9txCJgu9pUN/gSkLxxkm2Oq1wzkeM1TE2V3YBdKxTlVG19SHJai

    SoJGgwrHz46B2i5k9Ax/ezlmFwxbCXedmj4KqDCg3juf8OwgeU+BOFBKyMqMJ7Sx

    WjrgdE0Rj68TQI8WyLRth/HiTJ/d/Q7i3iQvAC/1LmB66lMTV1xSko0aXXhYrF5R

    XBUCggEADwBj33XqbgoMWSYJZ69q2lUH+0bGl+b4SLgBRTONEEp/PI+xW6Rhegie

    5UNdAtORKEqDYR7jAYuufTONCgkICoQCLXNo55VH831Ql5XRs03adpWk1HWni39W

    9OifM49EMvI7Kah7OyjCC7765YyGkieuixKEncapcXj764wvzNSlAhrE4jNBMa1Y

    UwnpkXYc1TBm8aQFRbveF7K86KVRgshaO4TuQBtbgla3zFh08IPmdJtwhWGM3LP9

    6NGRdvtloQMhnnacg+2yTj4nLyRCiGibo5gdzX+/qzy1Dqipwcw4JMo4o0DZRu6b

    QfttDLQJXdwbbTGr/THVg7oSwJ+pAw==

    -----END PRIVATE KEY-----

    '
  public_key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCpUcpEQboymWn6k8aW3tk0V5ky7QGQE2U5ayK1y1jdVLv9HhlHULX8lDq3yi7APy3ljV4U7FVA3o9YuDy3FAI9ylMXu0kzNoQrA037rYJWm8KzQev60dOabPQMDhh2lgLTMMXsHfqekXL3/lmAdp+QF9ns178p4/e9qGgOeOUeuWoMwlOZGr7pJ323x7frgLUZ3ITJ7VoYxq4gtnd3oHAcGQFeB5+nNpcaj7s79EL1eON8OWqbwoHCwTGYCSnaT6R5BOXbJXnLMdZe1TJu1YlmyXNsSPsKFi7iDuKbos9ewCrEy+B8pqhqnXU6FBk/P8FMwsqK/QCIlJJLvQZ126s/oS1fkIbtFm1n9GmN69lRIRmU6qUEHtc14TnO/eR1NXb0Nu8KFXbNeYS5dT/gcj5FrtJoW3md5y6cHqWNeRwPmc8Qa5BXU/fjz7X8aMFqwc5vJM50TZWLeG+NPYMfA4waNL/StvSd06oE0FMhPmwoEYhrLCMDlqPPbrt1dTox0MHfSDEhJGp8LmPjzN0h26Ph02sncuF9xyESivddnKdCS6EHeg7U5/Q9L6qa1svGrAIJ28DCE6jJjR6qVd+zJ84yesBsnbozkQaPt90nY+0VOQ/wfADzGCTHLMQ2Tb+M0B/kGWBRkHvcMcsWt3Z6z9dWNMM1v8GIwQZEK3nUnTP7aw==
kuryr_keystone_password: weiQrJXtDQzofdexj6Z0dmqBs0yF6q6pM4zxGkbe
magnum_database_password: n2UcyyEqKL2N3e8qXTVUzJgdOdj7HieNlZI4rvfC
magnum_keystone_password: yW0tKBpDARhtlrnzF8KWdF3RlY4u0ZxNtvaDZwBT
manila_database_password: f04Gs1x5m6JCxZsh5qQeNJvg3UEd9GjFbUDMyrac
manila_keystone_password: mpIaSWI5sPhg2ShZ0J0n4RER8fMIfC9kvE5LwvjD
memcache_secret_key: lpVcLrmSmxHccinJLqoSCjUNBZmGnV3TsfVXfoIy
metadata_secret: kkusoPXFo8MlxA6oZqIaxTqrvVnP3x2CHhb45piE
mistral_database_password: rWHZQY3ftZhE5DQXMcNitz97M6x31bmISRTAWAPh
mistral_keystone_password: S0HUAOKLJDhecFRhUyzQXcbrvEl20AuTCnNhtwQC
monasca_database_password: fTv9lw1gFCFKr5WnUA742n7DJANpPgNSY2gBfj8P
monasca_keystone_password: pmIs3DiBq2ZURqVBMl6PIhahtazhRiepU0s9sF4K
murano_agent_rabbitmq_password: ZTt7pPeIG9Q7k4U0voozxJ0Sw9j4e6tUeas3CeLB
murano_database_password: 0iRUDWTc25313TxsFsChxqNP7rTdwBWGPPQaGoPc
murano_keystone_password: SYaISFDWlBf2lHEbBqiuckSeNZjaYeS8TLa4lSum
neutron_database_password: 5eHlRIJ94n12u5T7LrPylWUrTMcanDYGwcenhddX
neutron_keystone_password: YIbTEAGobnBs2TaLnRLgEbV1uULKKGj3lyEzlZjJ
nova_api_database_password: SvrFTk61twOTCNm6xJSxdS1UFi6ux16BQ9wm3a1z
nova_database_password: WqQHrrOasUdFaRJyP2XbUIZsM6NhTS0F6tvjEWG0
nova_keystone_password: qHCKj1GTxBEfhJQrt92XM6cheI0IVTMuDbI7JNb8
nova_ssh_key:
  private_key: '-----BEGIN PRIVATE KEY-----

    MIIJRAIBADANBgkqhkiG9w0BAQEFAASCCS4wggkqAgEAAoICAQCldD3xbO2rRCw0

    7IkXwiZKS8vYbGEbEiYMUUAXOiox41qO1lrU0hQX+HWeYRSwoJLhJJ+97BtqQZiQ

    8diV93eZowdqxXF78dDZI9440uLLn6IVahH91cEec5L12DQD1Iytiyo+p481FQva

    gzjUOnXz/mvb0FkE4jvT9ptexocPUCJm4tuF3U1QkJdTkCwvAFjyM7E3h46htDtp

    d+gE6PrLXw77cuxZNlptid6X83/yQqRwMxkop1luD12/MwJ+ih09i0hZu3arJg4+

    qNfx8YNlQLMHx+X/KPneHvSq7/QYNsqHeBgh4qjdD2Fvn9gIzY80KzrYXuptcc9W

    DWJpnp94diKZDDFRBMtQjSmbn4GtdS5teAPUPtLpnUdYvKV9XEPeSVayqKK0K8ub

    /1t1q4eLaSES6LspbKOyoeGxQTFnemoJX9Ugwm8dvu9MOGXRvAUtGdf4SyTP7IEo

    jo0VP2x8CLlg6jIcHFGDpyv7QauEfjQFOM06hxCzsaLtQtbC2BK3Nt9KBS/o3aSK

    3tuxqcaKzn17Qkdo7PyizDPtW+Bl5TLwMTpCxDpAF7X0n0yT1rrBfnBINLYR3WCV

    e6jNNI9yT1xn99X/uvEgLT2XKmG844x1QrRvs+evuGq4ym9x91/VJnExJ9ft75ik

    20dY5nRpXNpq1Zq/d73myMWyWe4s8QIDAQABAoICAQCkLJICa7nxxbWv1j26i3X/

    JvLgj7pTaFDEzCKyaY7Q7e4/6cc7gjFaD7p2K5KiKNNWAEdZ51zUtL40pSXquSG+

    G50Sf1S6ThqUPBkXfXp53q6wXQ35OA9mrfvXYm9Kla/5zCtg/FcHrxiR/L95J4E/

    WOehuD18sRf4na1R/+CoezWHrfdx/0Pme3MNAfQ1tzyLKGvi0+nd3r9NSiO6K4wg

    HPT64PBRHbPhGXr8gCwnMaWFh86hHl2I7kpxnKYO9fFJzlk+YNvBvANKfbO5aZKd

    9/Mt91brN7eohkL1EyC8njGc9rfLd+NjZw2h+5QcOAyvEW5UoOoxK0s28hUDBNjq

    0J9j5AKz044cwUKhMOQ6xYe8rvyPjiAiRbICHnDHRNRxqvPcLkE2Jrq9ngH9Ag+7

    rRb+ZdWFJy93Bg8k1pg6g9cCbUJ7jL6niTo3DFxX6q7swxeCVa0y46uNK7ClIUMn

    HCKFP+/Uppplo/Who0UbE5v8pxYABGQ5/HlYrXVVJU+AWipvgXjfQUp7a5WpO55t

    cekUYMbhUk8toa0tc1yVEWvsUMOFIhGhg0N7ShyYFO5bzASAXB6kDVoiTwSV6VjS

    slk1cvmaKB9vuuqYl+SCT2Hf5xnZThxvZRmpitHQTH4fQuvF/PZENqezxRNRqrMC

    b8zAlPAJQTFmlv2Wes65oQKCAQEA0WVlMLdee8ykNvfj+yOz+p4DFA9C1G3gnseO

    uuONipxjaXtJLSDNM8TGmccUXRNySPQRT1PEK+qeSe8fJWk07PFQIuc20dBN+PfU

    92Q0nA7gNyuSZCPdl8nY3ltg0G6k1Wf9JxiQB5polCcvwydHhUOZoR2hppEgqxn/

    FsHWDcarkmoJXyMrkyDb8ieiTY5nz3PH1Hz47Mxhmj+PjkbsI+EqTOQKG35rBzIn

    41f2IGfTia7V2lhud/G/aTUl+TGbBHK6v/hK9j0uuQoVAjph7O5Owr2cl0iLKsR5

    69aaAkMJ5IbTJTvneAkgbWeEkNaCQwpG4N6WZ/zywJdtx97spQKCAQEAykcyGJgo

    aTnxLOKu+bdARr15PJN8/VXIcxf2+jIXyw66dCDzzMkpaWoPLQkC0aSpYHltKS2o

    JDojOdbkgOcAVCHdSeqsumdyDtnGSqdKUULm2PjzykSdhDS8woombmhndSnoVrAv

    PMU6v0P6yRbkf1kGFfqR9nCzP4Y9tHqC+oKx/5qe1k/BBbn7ihIGRPiGMsdyLvkD

    93aCHWr3GAyY3tEVy5V1wejUbFpUNiQ9pu4P22MBTkzJ65XPcjQEhdRJXTXwJ/1G

    CBmQdiMCCGuHgsb/9M4EC2FS26NWesgyb6SP23bUvItIMo83aNzVrD5zTBxePkDb

    JodQUjRnOipRXQKCAQEAs8mJXpCy0Tzd6kxhNOpsx8wP/JM14EsPR4U0KYbjqpWo

    TZMLO3IkfkR/+N0TwO7He5gDnMbhcouZqQVlCqwQQzjWg4FecjuWFyRDeL5S5YNo

    RDZnFRAuXPtz90ciExRM9ua4V28hi0WqcTpMKhV5tRRbvhhBCVEmaYKCoTmA3ocs

    HSRqM4NxEHxwHLSnCEwzGc3hT7KV0EuTqerVCWYfrpbPyQErJHwgzSblVK/bpes/

    l8HD4Bt5jgbFQEHf/tv2q5UOf3Fie5YAnePoMeeK2PGsMky3PLWOuAPGYxX5WePR

    hKO2ewu6LDg53XW6PtnPMlyKitzS6yomC/J40dm3+QKCAQAzzBNp9Ny0RWAazFle

    HKza8H3xIxtoi+Tug/58hwNMvhLE1gNYN1LhaYVFVP9hy7aLu8xWNRjPXgvTLdIJ

    qB2PbbSKzws4GHE+mEmMqFYBhQ40FVvoObXUOuTzNAkvUJDdkcOrHyaZey/V9oRr

    pe8RJSzHyAhEgQuFgsyeQJj1qS4HdAKkgnu9Caj97Cuq0bEbo7L7kEyRu8kJ23A2

    ulMTC5t3LGihJQvwSxkxXApliqSI20tkT4mNSCl85xEZbAj1U3CR7OtX+6PgfIpy

    uYZT2L2GZJLojx12nNbyTf2MVSl5W26ScWAlgkMAGTymBL/lh4Yijt0Peqr4we6F

    GH0JAoIBAQC9aFZ5hL+n6SplrsPQNlPIuB1CccHYN6SbmEmgfUiV5zZPQQF+SzEe

    uQcAZ0qX0Rv9DtIzNt7Xhnb09rPfyl6HvuhkFHFCbJMozVMSfmh7gwtb2Woxg079

    WLAFqs6fhCKYOrVr3cLJcEOJdwksFGg0YpeQDRkCU/EDXfR1yXpq9s+/RF2gtTAB

    xxUUs3I3xTjC7QvoVa57r9aG3lU8BaH7Ln+sOKwJIesTdv0+qwx9AV2IvUDuf9no

    L1pN0vDpOTlH4SKZbLJ35bOnVEZfaEzPHl8Tg4QHat6FXFukbBRcNCNXbEjPevPs

    I8awcsrNZO+7U/8V7T8JCDpH5V5JAKRI

    -----END PRIVATE KEY-----

    '
  public_key: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCldD3xbO2rRCw07IkXwiZKS8vYbGEbEiYMUUAXOiox41qO1lrU0hQX+HWeYRSwoJLhJJ+97BtqQZiQ8diV93eZowdqxXF78dDZI9440uLLn6IVahH91cEec5L12DQD1Iytiyo+p481FQvagzjUOnXz/mvb0FkE4jvT9ptexocPUCJm4tuF3U1QkJdTkCwvAFjyM7E3h46htDtpd+gE6PrLXw77cuxZNlptid6X83/yQqRwMxkop1luD12/MwJ+ih09i0hZu3arJg4+qNfx8YNlQLMHx+X/KPneHvSq7/QYNsqHeBgh4qjdD2Fvn9gIzY80KzrYXuptcc9WDWJpnp94diKZDDFRBMtQjSmbn4GtdS5teAPUPtLpnUdYvKV9XEPeSVayqKK0K8ub/1t1q4eLaSES6LspbKOyoeGxQTFnemoJX9Ugwm8dvu9MOGXRvAUtGdf4SyTP7IEojo0VP2x8CLlg6jIcHFGDpyv7QauEfjQFOM06hxCzsaLtQtbC2BK3Nt9KBS/o3aSK3tuxqcaKzn17Qkdo7PyizDPtW+Bl5TLwMTpCxDpAF7X0n0yT1rrBfnBINLYR3WCVe6jNNI9yT1xn99X/uvEgLT2XKmG844x1QrRvs+evuGq4ym9x91/VJnExJ9ft75ik20dY5nRpXNpq1Zq/d73myMWyWe4s8Q==
nsxv3_api_password: ULYfcZUcDVu8vpavf7dh9GEIgLRRgpeVTUNwkDVY
octavia_ca_password: WuVDLKMmTvxnMvdpsKzYCULQvrZN5VKQoyE8ml2X
octavia_database_password: AFxbuKJq36XrWXlhnpFj86FDYeY3rFzmRSZBaPuo
octavia_keystone_password: C725sdkwD3OJb0qol2MdVrBRp8zMezLaFS5xn8NA
onos_password: ZIJU4mTdQFBV5GQgPlwJnxzrGfnWTjD3ifq0xE5I
opendaylight_password: 1A7xGgpwvGnnNY4aBCrVEdPYXc4w9cuK3foTNW0i
osprofiler_secret: 3b3cb952cde52d02aef531222026eddc
outward_rabbitmq_cluster_cookie: uOstWCdDiSklwrFQsBBcqWbV3kHpsYG4cvQqd4TM
outward_rabbitmq_password: i8MeUpc6l5CsfcObieXUPNnyTU4J5yCVvvvjakGQ
panko_database_password: DPN7pZCqbzHrUNDbsHqBAGjukynjHGpTXZ8QP0Xh
panko_keystone_password: r8ULYoxMa3Ivfq4eUSeEd8q858gNPfgqaDGHTCau
placement_keystone_password: Ajf8uINj9fIS4JhwzKkHIlvague0z5zs8bdc8P03
prometheus_alertmanager_password: 1Af76eJ3kO0IHesY794AiBhgxVDoxMrP0ZA0VOzx
prometheus_mysql_exporter_database_password: SpitE1Gq3Jp8dn8iLswEWFyasqwBKhwPNIlJo2as
qdrouterd_password: M1BhT2nhxtSmusNtmrG7PnrwDUyuWc4WYdFjlclE
rabbitmq_cluster_cookie: uxYzWX99Ana2iX9pKPJLdXbpazWYBVGpv8tOalz3
rabbitmq_monitoring_password: vhcEqB3frkW0NkLAoowBoDhHdWMgXeZuVjpE0ugu
rabbitmq_password: O8AMGF7geBWK4kOPpXX9OlO2J8xNwToLN5cp9GBx
rally_database_password: m7mE9yljYnoDiMAOmH0ZEh9JZUnGA1SwTkuml4Uh
rbd_secret_uuid: ae1b8aaa-4985-4231-bff5-2e34aa20b24c
redis_master_password: omxN4fHTq6B1JbosEuZMQ7Wma1dbKrDsX5vZHQE3
sahara_database_password: duheAbU9yinrG5Cszb39vf76eEjqZ9SE1bgBzKK3
sahara_keystone_password: GiMws7ln34xuskqEku1Kfx1heAvic3xU2F2RB64m
searchlight_keystone_password: 53vCscNKfFMEsJgT1kcxffh0TOYQLzvaArxYaGBw
senlin_database_password: ksaJLq1GfaQafKqaiYgzvjyIsEHe0DilaV20rRez
senlin_keystone_password: MK5QxVggCLUuNo4WbvCVOq2P4BY3089ltR5iis7p
solum_database_password: cd2bFEpb2scYSiowrsrlg8Kg1vE08c8qmhMjcsVh
solum_keystone_password: ooC6VXfgjEDEjl7KDcv541LxcwaHpIiKctI0m14Q
swift_hash_path_prefix: vHdG79t7ZbabvyR4FmEI3ANX6lY5belFQEeXSfkW
swift_hash_path_suffix: WqX8uMnF9TskuoscLRFvEcfwA3OU9q3oZav66YgE
swift_keystone_password: 2qM4UKJKv9v24Hx8zgaErPvkikxoejqGVv9VzA1I
tacker_database_password: dqOmvN5uky4CecjvP1LrCaApNKKEVkRpSJ4e6zYy
tacker_keystone_password: KQmAU3tjhk4BcI3q3K9dNEsdE3dB9ipUgUfIpPUQ
telemetry_secret_key: mvt71QUUl8rJSS9JJX2UXQEHwqsK4ZFmUw8qf31N
trove_database_password: cRcDcF7nuvkxs4ehCa8kpM42r6UihXN4W3kFOCRv
trove_keystone_password: A7khC1m4R1B1yjzL5AgDuwpWEOeuJ1VCdpt25zhf
vitrage_database_password: H61AyeotndaLaOVcjytg3XnhWndDed8bSpP0iaBF
vitrage_keystone_password: ywBKUWkGgiP3QlMUZdxOzxlvRo7UmaYITrjnrlyS
vmware_dvs_host_password: pGtAfRo88kmPrw0AxzAaOc1Ji8gwdTWjDWW0cQ83
vmware_nsxv_password: KyIPYkotNXkrOQ49YRsngefizZwzKbmRpZIOPUEQ
vmware_vcenter_host_password: bPTIqYivJtrTx8sawhFD77uTMawkUOWRoRAFJcNj
watcher_database_password: jc4ufrnqtelMJGaQmFlD2dWPnAugYsfOU4kg3qI0
watcher_keystone_password: zl710BpfJrgxS4WuUXMxdmikBaMDL0P1iq9D5z7n
xenserver_password: QhipxNGsPmmz30yJzF3Q3Fj1L1LDXLyqL6OTM36l
zfssa_iscsi_password: 17mzX3Dlf7kochIqMFdYWwcqlXaqcyh3BHzhw8p6
zun_database_password: ZyfarbG3UW94lHED85jPNte9iFP0JzNBaVFmpdsJ
zun_keystone_password: CuXcIn3NqPPves9tl9jyNvi9GTc5TXfzYszfWNQB
