[access]
	inheritFrom = All-Projects
[project]
	description = Demo applications and templates for ONAP platform instantiation.
[access "refs/*"]
	owner = group saml/onap-gerrit-demo-committers
	read = group GitHub Replication
[access "refs/heads/*"]
	label-Verified = -1..+1 group saml/onap-jenkins-labs
[submit]
	action = rebase if necessary
