parameters:

  ubuntu_1604_image: {{ ubuntu_1604_image }}

  apt_proxy: {{ apt_proxy }}
  docker_proxy: {{ docker_proxy }}

  rancher_vm_flavor: {{ rancher_vm_flavor }}
  k8s_vm_flavor: {{ k8s_vm_flavor }}
  etcd_vm_flavor: {{ etcd_vm_flavor }}
  orch_vm_flavor: {{ orch_vm_flavor }}

  public_net_id: {{ public_net_id }}

  oam_network_cidr: {{ oam_network_cidr }}

  integration_gerrit_branch: {{ integration_gerrit_branch }}

  helm_deploy_delay: {{ helm_deploy_delay }}

  integration_override_yaml: >
    global:
      repository: __docker_proxy__
      pullPolicy: IfNotPresent
    robot:
      flavor: large
      appcUsername: "appc@appc.onap.org"
      appcPassword: "demo123456!"
      openStackKeyStoneUrl: {{ openStackKeyStoneUrl }}
      openStackPublicNetId: "__public_net_id__"
      openStackTenantId: "${OS_PROJECT_ID}"
      openStackUserName: "${OS_USERNAME}"
      ubuntu14Image: {{ ubuntu_1404_image }}
      ubuntu16Image: {{ ubuntu_1604_image }}
      openStackPrivateNetId: "__oam_network_id__"
      openStackPrivateSubnetId: "__oam_subnet_id__"
      openStackPrivateNetCidr: "__oam_network_cidr__"
      openStackSecurityGroup: "__sec_group__"
      openStackOamNetworkCidrPrefix: "10.0"
      dcaeCollectorIp: "__k8s_01_vm_ip__"
      vnfPubKey: {{ vnfPubKey }}
      demoArtifactsVersion: {{ demoArtifactsVersion }}
      demoArtifactsRepoUrl: "https://nexus.onap.org/content/repositories/releases"
      scriptVersion: {{ scriptVersion }}
      rancherIpAddress: "__rancher_ip_addr__"
      config:
        openStackEncryptedPasswordHere: "${OS_PASSWORD_ENCRYPTED}"
    so:
      so-openstack-adapter:
        config:
          openStackUserName: "${OS_USERNAME}"
          openStackKeyStoneUrl: {{ openStackKeyStoneUrl }}
          openStackEncryptedPasswordHere: "${OS_PASSWORD_ENCRYPTED}"
    appc:
      replicaCount: 1
      config:
        enableClustering: false
        openStackType: "OpenStackProvider"
        openStackName: "OpenStack"
        openStackKeyStoneUrl: {{ openStackKeyStoneUrl }}
        openStackServiceTenantName: "${OS_PROJECT_NAME}"
        openStackDomain: "${OS_USER_DOMAIN_NAME}"
        openStackUserName: "${OS_USERNAME}"
        openStackEncryptedPassword: "${OS_PASSWORD}"
    sdnc:
      replicaCount: 1
      config:
        enableClustering: false
    aai:
      liveness:
        initialDelaySeconds: 120
      aai-data-router:
        liveness:
          initialDelaySeconds: 120
      aai-sparky-be:
        liveness:
          initialDelaySeconds: 120
      aai-spike:
        liveness:
          initialDelaySeconds: 120
    portal:
      global:
        portalHostName: "__portal_hostname__"
      portal-mariadb:
        config:
          sdcFeHostName: "__portal_hostname__"
          papHostName: "__portal_hostname__"
          vidHostName: "__portal_hostname__"
          aaiSparkyHostName: "__portal_hostname__"
          cliHostName: "__portal_hostname__"
          portalSdkHostName: "__portal_hostname__"
          dmaapBcHostName: "__portal_hostname__"
          msbHostName: "__portal_hostname__"
    vid:
      config:
        portalhost: "__portal_hostname__"
