{
    "resource-accumulator-resolved-data": [
		{
            "param-name": "service-instance-id",
            "param-value": "${service-instance-id}"
        },
		{
            "param-name": "vnf-id",
            "param-value": "${vnf-id}"
        },
		{
            "param-name": "supportedNssai",
            "param-value": "${supportedNssai}"
        }		
	]
}	