###################
# Kolla options
###################
kolla_base_distro: {{ dev_kolla_base_distro }}
kolla_install_type: {{ dev_kolla_install_type }}
openstack_release: {{ dev_kolla_openstack_release }}
kolla_internal_vip_address: {{ dev_kolla_internal_vip }}
kolla_external_fqdn: {{ dev_kolla_external_fqdn }}

####################
# keepalived options
####################
keepalived_virtual_router_id: {{ dev_kolla_keepalived_router_id }}

